{% extends 'layout/main.html' %}
{% block title %}files list{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Content type</td>
                <td>Created</td>
                <td><a href="{% url upload_new %}">add file</a></td>
            </tr>
        </thead>
        <tbody>
        {% for file in object_list %}
            <tr>
                <td>{{ file.title }}</td>
                <td>{{ file.content_type }}</td>
                <td>{{ file.date_add }}</td>
                <td><a href="{% url upload_edit file.id %}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {% if page_obj %}
        <tfoot>
            <tr>
                <td>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
                    {% endif %}
            
                    <span class="current">
                        strona {{ page_obj.number }} z {{ paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">następna</a>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{% endblock %}

