<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Serwis{% endblock %}</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
            $ = JQuery;
        </script>
    </head>
    <body>
        <div>
            {% include "layout/partials/header.html" %}
            {% include "layout/partials/top-menu.html" %}
            <div class="content">
                {% block content %} strona główna{% endblock %}
            </div>
            {% include "layout/partials/footer.html" %}
        </div>
    </body>
</html>