{% extends 'layout/main.html' %}
{% load i18n %}
{% block title %}new case{% endblock %}
{% block content %}

{% include 'person/client/client_data.html' with client=client %}

<h3>
{% if object %}
    {% trans 'edycja danych sprawy'|capfirst %} "{{ object }}"
{% else %}
    {% trans 'nowa sprawa'|capfirst %}
{% endif %}
</h3>

<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'zapisz' %}" />
        </td>
    </tr>
    </table>
</form>
{% endblock %}