{% extends 'layout/main.html' %}
{% block title %} {{ block.super }} | clients list {% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td><a href="{% url person_client_add %}">nowy klient</a></td>
            </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
            <tr>
                <td>{{ client }}</td>
                <td>
                    <a href="{% url person_client_edit client.id %}">edit</a>
                    <a href="{% url person_client_del client.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% include "generic/pagination.html" with page_obj=page_obj %}
    </table>
{% endblock %}